.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 50%;
}

.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 2000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 600px;
    height: 50%;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 33%;
    width: 25px;
    height: 40px;
    text-align: center;
    background: #0097CD;
    color: white;
    text-decoration: none;
    font: 22px/42px Arial, sans-serif;
}

.jcarousel-control-prev {
    left: 0px;
}

.jcarousel-control-next {
    right: 0px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}