/* GENERAL LAYOUT AND TRANSITIONS */

.col-centered {
float: none;
margin: 0 auto;
text-align: center;
width: 100%;
}
.absolute-wrapper {
position: absolute;
max-width: 940px;
width: 100%;
height: 100%;
margin-left: -15px;
}
.section-cta {
padding: 15px 0 0 0;
}
.no-spacing {
margin: 0;
padding: 0;
}
.display-table {
  position: relative;
  display: table;
  height: 100%;
}
.display-table-cell {
  position: relative;
  display: table-cell;
  height: 100%;
}
.bottom {
  vertical-align: bottom;
}
.padded-left-right {
  padding: 0 15px;
}
.padded-top-bottom {
  padding: 15px 0;
}
.padded {
  padding: 15px;
}
.section-divider-outer {
    margin-bottom: 5px;
}
.row-neutral {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.col-neutral {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.section-divider-outer {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.section-inner {
  margin: 0 15px;
}
.section-divider-inner {
  width: 100%;
  height: 13px;
  background-image: url("http://www.coventry.ac.uk/Templates/PrimarySite/ui/img/layout/divider.png");
}
.transition-opacity {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.transition-background-color {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.border {
  border: 1px solid silver;
}
.no-bullets, .no-bullets li {
  list-style-type: none;
  margin-left: -20px;
}
.margin-reset {
  margin: 0 !important;
}
.padding-reset {
  padding: 0 !important;
}
.underline {
text-decoration: underline;
}
/* NO HIDDEN EXTRAS, WHY WE'RE DIFFERENT, ETC */

.purple-graphics {
  text-align: center;
}
.purple-graphics h4 {
  font-weight: 600;
}
.purple-number {
  font-size: 40px;
  font-weight: 900;
  color: #A720A8;
}
/*.purple-graphics .col-xs-12 {
  border-left: 1px solid #CCCCCE;
}
.purple-graphics .col-xs-12:first-child {
  border-left: none;
}*/

/* PULL OUT FACT SMALL */

.pull-out-fact-small {
  background-color: #A720A8;
  color: white;
  padding: 5px 15px;
}
.pof-number-small {
  font-size: 70px;
  font-weight: 700;
}
.pof-statement-small {
  font-size: 20px;
  font-weight: 600;
}
.pof-source-small {
  font-size: 13px;
  font-weight: 600;
  border-top: 1px solid white;
  padding-top: 5px;
}

/* PULL OUT FACT LARGE */

.pof-number-large-style-1 {
  color: #A720A8;
  font-weight: 700;
  font-size: 75px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
}

.pof-statement-large-style-1 {
  padding: 20px;
  font-size: 25px;
}

/*HEADER */

#header-section {
background: url(file:///D:/Documents/Github/covuniwebteam.github.io/image/red-panda.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
border-bottom: 5px solid #0A63CF;
}
#header-section .row {
  height: 100%;
}
#header-wrapper {
  background-color: rgba(0,0,0,0);
  height: 100%;
}
#header-wrapper iframe {
  visibility: hidden;
  position: absolute;
  display: block;
  opacity: 0;
}

/* COURSE TITLES */

#course-title-mobile {
  margin: 0 -15px;
  background-color: black;
  padding: 10px 15px;
}
#course-title-desktop {
  display: inline-block;
  margin-top: 10px;
}
#course-title-desktop h1 {
  background-color: #000;
  color: #fff;
}

/* NAVIGATION */

 .section-nav-tabs {
 padding-top: 5px;
 padding-bottom: 0px;
 }

/* NAVIGATION TOGGLES (MOBILE) */

.panel-group {
border-radius: 0;
margin: 0 -15px;
}
.panel {
border: none;
border-radius: 0;
}
.panel-body {
border: none;
border-radius: 0;
padding: 0;
}
.navbar {
border: none;
border-radius: 0;
}
.panel-heading {
border: none;
border-radius: 0;
background-color: #337cbb;
}
.panel-title {
margin: 0;
}
.panel-title > a {
color: white;
display: block;
width: 100%;
padding: 10px 15px;
}

.panel-title i {
color: #337cbb;
background-color: #fff;
padding: 3px;
border-radius: 4px;
margin-right: 10px;
font-size: 0.75em;
}

.notice i {
  color: #A71FA7;
  font-size: 50px;
}

/* PULL-OUT FEATURES */

.polarity {
  background-color: dimgrey;
  color: white;
}
.notice {
  padding: 10px;
  border: 1px solid #CCCCCE;
}
.notice p {
  font-size: 1.2em;
}

/* TYPICAL OFFERS TABLE */

.entry-table tr {
  background-color: #F8F8F8;
  color: #333335;
  font-weight: 500;
}
.entry-table .first-row {
  background-color: #343168;
  color: white;
  font-weight: 900;
}
.entry-table .second-row {
  background-color: #D2D3D5;
  color: #333335;
  font-weight: 900;
}

/* ICONS */

#media-button {
position: absolute;
left: 50%;
top: 50%;
padding-left: 0px;
margin: -25px 0 0 -25px;
}
#media-button i {
font-size: 65px;
}
.student-quote i {
font-size: 75px;
padding-top: 10px;
color: #A720A8;
}
.hide-reveal i {
  background-color: #0097CD;
  color: #F2F3F5;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 5px;
}
.jcarousel-control-next i {
margin-right: -4px;
}
.purple-graphics i {
font-size: 50px;
color: #A720A8;
}
.course-specification i {
  font-size: 35px;
  color: #0097CD;
}
.float-right {
  float: right !important;
}
ul.module-list li {
list-style-type: none;
}
ul.module-list a:before {
font-family: 'FontAwesome';
margin:0 5px 0 -15px;
}
.module-list-in a:before {
content: '\f067';
}
.module-list-out a:before {
content: '\f068';
}
.module-list {
  -webkit-padding-start: 0px;
}
.module-list a {
    display: inline-block;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #CCCCCE;
}
.btn-social-icon {
background-color: #0097CD;
border: none;
border-radius: 5px;
color: white;
width: 25px;
height: 25px;
padding: 2px;
margin: 0;
}

/* BUTTONS */

.btn-group-vertical {
  display: inline;
}
.btn-custom {
display: block;
padding: 10px;
background-color: #F2F3F5;
}
.btn-custom:hover {
text-decoration: none;
}
.btn-cta-apply {
background-color: black;
color: white;
border: 3px solid black;
}
.btn-cta {
background-color: #F2F3F5;
color: black;
border: 3px solid #666666;
}
.btn:active {
  -webkit-box-shadow: none;
}
.hidden-xs .cta-button-group {
  margin-bottom: 5px;
}

/* HIDE-REVEAL TOGGLES */

 .hide-reveal {
 font-size: 17px;
 font-weight: 700;
 color: #333333;
 }
 .hide-reveal-module {
 font-size: 1em;
 font-weight: 700;
 }
.hide-reveal-header {
  border-bottom: none;
}

/* TABBED WIDGETS */

.tabbed-widget-header li {
  background-color: #E4E4E4;
  border-right: 5px solid white;
}
.tabbed-widget-header li.active {
  background-color: #F2F3F5;
  border-right: 5px solid white;
}
.tabbed-widget-header li a {
  font-size: 15px;
  padding: 12.5px 20px;
}
.tabbed-widget-body {
  padding: 30px 20px;
  background-color: #F2F3F5;
}
.tabbed-widget-body h5,
.tabbed-widget-body h4 {
  margin: 0;
}

/* KIS WIDGET */

#kis-widget-section .tabbed-widget-header li.active,
#kis-widget-section .tabbed-widget-header li.active a {
  background-color: #DD312C;
  color: white;
}
#kis-widget-section .tabbed-widget-body {
  background-color: #DD312C;
}
.kis-widget-horizontal {
  overflow: hidden;
  border: 0px none transparent;
  width: 615px;
  height: 150px;
}
.kis-widget-vertical {
  overflow: hidden;
  border: 0px none transparent;
  width: 190px;
  height: 500px;
}

/* DEVICE SPECIFIC ADJUSTMENTS */

  /* SMALL DEVICES */

  @media (max-width: 767px){
    #header-section {
      height: 225px;
      margin: 0;
      padding: 0;
    }
    .img-fixed {
      max-width: 150px;
      max-height: 75px;
    }
    .section {
      position: relative;
      padding: 15px 0;
    }
    .navbar-nav {
      display: none;
    }
    .panel-heading {
      margin-top: 10px;
    }
    .panel-group {
      margin-top: -10px;
    }
    h1 {
      font-size: 28px;
    }
    #keyInfo-desktop-body {
      margin-bottom: 25px;
    }
    .purple-graphics .col-xs-12 {
      padding: 30px 70px 0 70px;
      border-left: none;
    }
    #kis-widget-section {
      margin: 0 -15px;
    }
    blockquote {
      padding: 0;
    }
  }

  /* MEDIUM DEVICES */

   @media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
      }
    .navbar-nav>li:not(:last-child) {
      border-right: 5px solid white;
    }
    #header-section {
      height: 350px;
      margin: 0;
      padding: 0;
    }
    .img-fixed {
      max-width: 200px;
      max-height: 100px;
    }
    .section {
      position: relative;
      padding: 35px 0;
    }
    .navbar-nav a i {
      display: none;
    }
    .btn {
    font-size: 18px;
    }
    h1 {
      font-size: 36px;
    }
    #keyInfo-desktop-body {
      margin-bottom: 25px;
    }
    .vertical-border {
      border-right: 1px solid #CCCCCE;
    }
    .notice p {
      margin-bottom: 0;
    }
  }

  /* LARGE DEVICES */

  @media (min-width: 992px){
    #header-section {
      height: 425px;
    }
    .navbar {
      margin-top: 5px;
    }
    #keyInfo-desktop-body {
      margin-bottom: 35px;
    }
  }

